{
	BasedOnStyle: LLVM,
	Standard: c++03,
	ColumnLimit: 0,
	UseTab: ForContinuationAndIndentation,
	IndentWidth: 4,	
	TabWidth: 4,
	BreakBeforeBraces: Allman,
	FixNamespaceComments: false,
	PointerAlignment: Right,
#	EmptyLineAfterAccessModifier: Never,
}
