#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tlog
[Dd]ebug*/
*.lib
*.sbr
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.ipch
[Ii]pch*/
*.aps
*.svl*
*.dll
*.mvf
*.*sdf
*.idc
#OpenXcom stuff
bin/DATA/GEODATA/
bin/DATA/GEOGRAPH/
bin/DATA/MAPS/
bin/DATA/ROUTES/
bin/DATA/SOUND/
bin/DATA/TERRAIN/
bin/DATA/UFOGRAPH/
bin/DATA/UFOINTRO/
bin/DATA/UNITS/
bin/USER/*.bmp
bin/USER/*.sav
deps/
docs/html/
*.o
