# autotools
aclocal.m4
m4/
missing
install-sh
config.status
configure
./Makefile
Makefile.in
depcomp
.deps/
*.tar.gz
*.tar.xz
openxcom
# basics
*.o
.DS_Store
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.exp
*.pdb
*.dll
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tlog
*.zip
[Dd]ebug*/
*.lib
*.sbr
[Rr]elease*/
[Tt]est[Rr]esults/
_UpgradeReport_Files/
_ReSharper.*/
*.ipch
[Ii]pch*/
*.aps
*.svl*
*.mvf
*.*sdf
*.idc
#OpenXcom stuff
bin/DATA/GEODATA/
bin/DATA/GEOGRAPH/
bin/DATA/MAPS/
bin/DATA/ROUTES/
bin/DATA/SOUND/
bin/DATA/TERRAIN/
bin/DATA/UFOGRAPH/
bin/DATA/UFOINTRO/
bin/DATA/UNITS/
bin/USER/*.bmp
bin/USER/*.sav
deps/
docs/html/
build/
Dependencies/
