language: cpp

compiler:
  - clang
  - gcc

os:
  - linux
  - osx

sudo: false

addons:
  apt:
    packages:
      - cmake
      - libsdl1.2-dev
      - libsdl-mixer1.2-dev
      - libsdl-image1.2-dev
      - libsdl-gfx1.2-dev 
      - libboost-dev

env:
  - BUILD_TYPE=Debug EXTRA_WARNING_FLAGS=""
  - BUILD_TYPE=Release EXTRA_WARNING_FLAGS=""
  - BUILD_TYPE=Debug EXTRA_WARNING_FLAGS="-Wall -Wextra"
  - BUILD_TYPE=Release EXTRA_WARNING_FLAGS="-Wall -Wextra"

before_install:
  - if [ $TRAVIS_OS_NAME == osx ]; then brew update && brew install yaml-cpp sdl sdl_gfx sdl_image sdl_mixer --with-flac --with-libmikmod --with-libvorbis --with-static-lib; fi
  - if [ $TRAVIS_OS_NAME == linux ]; then mkdir $TRAVIS_BUILD_DIR/dependency-prefix; fi
  - if [ $TRAVIS_OS_NAME == linux ]; then export PKG_CONFIG_PATH=$TRAVIS_BUILD_DIR/dependency-prefix/lib/pkgconfig; fi

install:
  - if [ $TRAVIS_OS_NAME == linux ]; then mkdir -p $TRAVIS_BUILD_DIR/dependencies/; fi
  - if [ $TRAVIS_OS_NAME == linux ]; then pushd $TRAVIS_BUILD_DIR/dependencies/ && git clone https://github.com/jbeder/yaml-cpp.git && pushd yaml-cpp && git checkout release-0.5.1 && cmake -DCMAKE_INSTALL_PREFIX=$TRAVIS_BUILD_DIR/dependency-prefix -DCMAKE_BUILD_TYPE="${BUILD_TYPE}" -DYAML_CPP_BUILD_CONTRIB=NO -DYAML_CPP_BUILD_TOOLS=NO . && make -j2 && make install && popd && popd; fi
      
before_script:
  - cmake . -DCMAKE_BUILD_TYPE="${BUILD_TYPE}" -DYAMLCPP_INCLUDE_DIR=$TRAVIS_BUILD_DIR/dependency-prefix/include -DCMAKE_CXX_FLAGS="${EXTRA_WARNING_FLAGS}" -DCMAKE_C_FLAGS="${EXTRA_WARNING_FLAGS}"

script: make -j2

notifications:
  irc: "chat.freenode.net#openxcom"
