[Desktop Entry]
Version=1.0
Type=Application
Name=OpenXcom
Comment=An open-source clone of the famous X-COM game
#Comment[bg]=
#Comment[cs]=
#Comment[da]=
#Comment[de]=
Comment[en_GB]=An open-source clone of the famous X-COM game
Comment[es]=Un clon de código abierto del famoso juego de X-COM
#Comment[fr]=
#Comment[hu]=
#Comment[it]=
#Comment[pl]=
#Comment[pt]=
#Comment[pt_BR]=
#Comment[ro]=
#Comment[ru]=
Comment[uk]=An open-source clone of the famous X-COM game
Exec=openxcom
Terminal=false
Icon=openxcom
Categories=Game;StrategyGame;
