[Desktop Entry]
Version=1.0
Type=Application
Name=OpenXcom
Comment=Open-source clone of UFO: Enemy Unknown
Exec=openxcom
Terminal=false
Icon=openxcom
Categories=Game;StrategyGame;
